.articles {
  background: rgba(255, 255, 255, 0.064);
  color: rgb(255, 255, 255);
  margin: 1rem;
  max-width: 20rem;
  border-radius: 0.5rem;
  height: 26rem;
  position: relative;
}

.single {
  padding: 0.5rem 1rem 0.5rem 0;
  display: grid;
  grid-template-columns: 6% 92%;
}

.single-article-content {
  margin-left: 1rem;
}

.single-article-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.vote-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-right: 2px solid white;
}

.article-image {
  width: 100%;
  height: 15rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.article-heading {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  margin: 0.5rem 1rem;
}

.article-body {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.article-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  width: 90%;
  margin: 1rem;
}

.articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 88rem;
  margin: auto;
}

.main-content {
  padding: 1rem 1rem;
}

.vote {
  border: solid black;
  border-width: 0 5px 5px 0;
  padding: 5px;
  background: transparent;
}

.vote-button {
  padding: 0.3rem;
  background: transparent;
  border: 0rem;
}

.vote-number {
  font-weight: 600;
  font-size: 18px;
}

.vote-selected {
  border: solid red;
  border-width: 0 5px 5px 0;
}

.vote-error {
  padding: 1rem;
}

.comments {
  background: rgba(255, 255, 255, 0.064);
  color: rgb(255, 255, 255);
  margin: 1rem;
  border-radius: 0.5rem;
}

.single-comment-content {
  margin-left: 1rem;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.article-comment-count,
.article-likes {
  display: flex;
  align-items: center;
  gap: 5px;
}
