#header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 54px;
  font-weight: 700;
  color: red;
  background: rgba(0, 0, 0, 0.238);
  position: relative;
}

#links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-container {
  max-width: 88rem;
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 1rem;
  margin: auto;
  display: flex;
}

#filter-container {
  grid-column: 4;
  display: flex;
  max-width: 22rem;
  // padding-left: 1rem;
}

.link-buttons {
  z-index: -1;
  width: 8rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  background: rgb(112, 12, 12);
  position: absolute;
  top: 15%;
  left: 5%;
}

.link-topics {
  width: 14rem;
  left: 3%;
}
