#header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.238);
  position: relative;

  #header {
    color: red;
    font-size: 54px;
    font-weight: 700;
  }

  #header-user-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 24px;
    font-weight: 700;
  }

  #header-user-logo-options {
    padding: 0.5rem 1rem;
    width: 100%;
    background: rgb(64, 62, 62);
    border: none;
    margin-top: 0.5rem;
    padding-left: 1rem;
    font-size: 18px;
    font-weight: 600;
    border: 0rem;
    color: white;
    display: flex;
    align-items: center;

    &:hover {
      background: rgba(43, 43, 43, 0.3);
    }

    &:active {
      border-left: 2px solid white;
      background: rgb(43, 43, 43);
    }
  }

  #header-user-logo-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 24px;
    font-weight: 700;
    height: 100%;
  }
}

.red-border {
  border: solid red 1px;
}

.header-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.266);
  overflow: hidden;
  margin-right: 0.5rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

img {
  width: 3rem;
  object-fit: contain;
}

#links-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-container {
  max-width: 88rem;
  display: grid;
  padding-top: 1rem;
  margin: auto;
  display: flex;
}

#filter-container {
  grid-column: 4;
  display: flex;
  max-width: 22rem;
}

.link-buttons {
  z-index: -1;
  width: 8rem;
  height: 2.2rem;
  border-radius: 0.5rem;
  background: rgb(112, 12, 12);
  position: absolute;
  top: 15%;
  left: 5%;
}

.link-topics {
  width: 14rem;
  left: 3%;
}

#home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

#carousel-container {
  margin-bottom: 1rem;
  width: 70%;
}

.carousel-info {
  background: rgba(54, 54, 54, 0.895);
  width: 100%;
  height: 8rem;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 6rem;
}

.carousel-image {
  display: block;
  width: 100%;
}

.text-with-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  margin: 0.5rem 0.2rem;
}

#latest-articles-text {
  margin: 0;
}

.home-articles-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
}

.popular-articles-text {
  padding-left: 1rem;
  grid-column: span 2;
}

.carousel-heading {
  color: white;
}
