@use "/src/styles/_colors.scss";
@use "/src/styles/_dropdown.scss";
@use "/src/styles/_home.scss";
@use "/src/styles/_articles.scss";
@use "/src/styles/media-queries.scss";

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background: #242424;
}

a {
  text-decoration: none;
}

.red {
  color: red;
}

.full-width {
  width: 100%;
}
